[Unit]
Description=An EPP proxy
After=network.target nss-lookup.target

[Service]
Type=simple
ExecStart=/usr/local/bin/eppproxy -cert /etc/eppproxy/cert.pem -key /etc/eppproxy/key.pem -server bbc.co.uk:443 -listen 0.0.0.0:9000

[Install]
WantedBy=multi-user.target
